[rewrite_local]
^https:\/\/qianji\.xxoojoke\.com\/vip\/configios url script-response-body https://cdn.jsdelivr.net/gh/Akimio521/BetterRuler@main/Script/QianJi.js

[mitm] 
hostname = qianji.xxoojoke.com